{
  "env": {
    "jest": true,
    "jest/globals": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "testcafe-extended",
    "jest",
    "flowtype",
    "testing-library",
    "jsx-a11y",
    "react-hooks"
  ],
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:flowtype/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:testcafe-extended/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "off",
    "no-eval": "error",
    "import/first": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "testcafe-extended/no-only-statements": "error",
    "testcafe-extended/no-debug-statements": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off"
  },
  "globals": {
    "fixture": "writable"
  }
}
